# Byte-compiled / cache files
__pycache__/
*.py[cod]

# SQLite database
*.sqlite3

# Logs
*.logs

# Enviroment variables
.env

# Virtual enviroments
env/
venv/

# VS Code and system files
.vscode/
.DS_Store

# Static/media files in production
/static/
media/